<div class="col-md-4">
    @*<a asp-action="NewSkillset" class="btn btn-default">Toevoegen</a>*@
    <a id="btnCrudAdd" class="btn btn-default">Toevoegen</a>
</div>
<div class="col-md-4">
    <a id="btnCrudEdit" class="btn btn-default">Bewerken</a>
</div>
<div class="col-md-4">
    <a id="btnCrudDelete" class="btn btn-default">Verwijderen</a>
</div>