@using HRMapp.Models
@model List<SelectListItem>
    
@*<style>
    #divLboxWithSearh {
        display: flex;
        flex-direction: row;
    }
</style>*@
<div id="divLboxWithSearh">
    <input type="text" placeholder="Search..."/>
    <div>
        @Html.DropDownList("lbox", Model, new {size = 5})
    </div>
</div>

<script>
    function getListBoxSelectedItemId() {
        var listBox = document.getElementById('lbox');
        return listBox.options[listBox.selectedIndex].value;
    }
</script>