@using HRMapp.Models
@model List<SelectListItem>
    
@*<style>
    #divLboxWithSearh {
        display: flex;
        flex-direction: row;
        j
    }
</style>*@
<div id="divLboxWithSearh">
    <div class="row">
        <div class="col-md-9">
            <input type="text" placeholder="Zoeken..." style="width: 100%;" />
        </div>
        <div class="col-md-3">
            <a class="btn btn-default">Zoeken</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.DropDownList("lbox", Model, new {size = 5, style="width : 100%;"})
        </div>
    </div>
</div>

<script>
    function getListBoxSelectedItemId() {
        var listBox = document.getElementById('lbox');
        return listBox.options[listBox.selectedIndex].value;
    }
</script>