@using HRMapp.Models
@using HRMapp.ViewModels
@model ProductCollectionViewModel

@{
    ViewData["Title"] = "Producten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Producten</h2>

@if (!String.IsNullOrEmpty(Model.InfoMessage))
{
    <div id="visualAlert" class="alert alert-success">@Model.InfoMessage</div>

    <script>
        hideVisualAlertAfterXSeconds(3);

        function hideVisualAlertAfterXSeconds(seconds) {
            setTimeout(hideVisualAlart, seconds*1000);
        }

        function hideVisualAlart() {
            var element = document.getElementById('visualAlert');
            element.className = '';
            element.innerHTML = '';
        }
    </script>
}

<div class="row">
    <div class="col-md-4">
        @Html.Partial("~/Views/Partial/_ListboxWithSearch.cshtml", Model.ListItems)
    </div>
    <div class="col-md-8">
        <div class="row">
            @Html.Partial("~/Views/Partial/_CrudButtons.cshtml")
        </div>
        <div id="productContent" class="row">
        </div>
    </div>
</div>

<script>
    document.getElementById('lbox').onchange = listBoxItemSelectionChanged;
    document.getElementById('btnCrudAdd').onclick = function () { window.location.href = '/Product/New'; }
    document.getElementById('btnCrudEdit').onclick = function () {
        window.location.href = '/Product/Edit/' + getListBoxSelectedItemId(); }

    listBoxItemSelectionChanged();

    function listBoxItemSelectionChanged() {
        var selectedSkillsetId = getListBoxSelectedItemId();


        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/Product/ProductView/' + selectedSkillsetId, true);

        xhr.onload = function () {
            if (this.status == 200) {
                document.getElementById('productContent').innerHTML = xhr.responseText;
            }
        }

        xhr.send();
    }
</script>